<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Thank you for participating in our experiment!
	    </p>
	    
	    <p>
	    	You will play a game where you are a hungry traveler (blue circle) who needs to reach a restaurant to replenish your food as soon as possible.
        </p>

        <p>
        	There will be two restaurants (red circles) on the map. Your goal is to manipulate the arrow keys (up, down, left, right) to get yourself to one of the restaurant as quickly as possible.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
